@import "tailwindcss";

@theme {
  --color-brand-navy: #000000;
  --color-brand-gold: #FF6600;
  --color-brand-orange: #F97316;
  --color-brand-light: #F8FAFC;
  --color-brand-dark: #000000;
  
  --font-display: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-brand-light);
  color: var(--color-brand-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
